.main-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 10; 
}

form {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  gap: 1rem;
  padding: 2rem; 
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px; 
  width: 90%; 
}
form h3 {
  text-align: center;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
form div input {
  padding: 0.5rem 0.3rem;
  border-radius: 0.3rem;
  border: none;
}
form div input:focus {
  outline: none;
  border: 2px solid #3c82f6;
}
form p {
  text-align: center;
}
form button,
form p a {
  transition: all 150ms;
}
form button {
  background-color: #3c82f6;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #e4e7eb;
  font-size: 1rem;
  font-weight: bold;
}
form button:hover {
  background-color: #0766ff;
  cursor: pointer;
}
form p a {
  text-decoration: none;
  color: #3c82f6;
}
form p a:hover {
  color: #0060fa;
  cursor: pointer;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}
.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.close-modal:hover {
  background: none;
  color: red;
}


