aside {
  grid-area: aside;
  background-color: #1f2937;
  height: 100%;
  position: fixed;
  width: 250px;
  display: flex;
  flex-direction: column;
  transition: width 400ms ease-out;
}
aside h2 {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
aside h2 #toggleButton {
  cursor: pointer;
  user-select: none;
  margin-right: 0.7rem;
  font-size: 2.6rem;
}
aside nav {
  margin-bottom: auto;
  list-style: none;
}
aside nav ul li {
  padding: 1rem 1.6rem;
  list-style: none;
}
aside nav ul li span {
  margin-right: 0.7rem;
}
aside nav ul li a {
  text-decoration: none;
  color: inherit;
}
aside nav ul li:hover {
  background-color: #2d3748;
  cursor: pointer;
}
body aside div {
  display: flex;
  align-items: center;
  padding: 1rem;
}
body aside div button{
  width: 100%;
}
body aside div button a{
  width: 100%;
  text-decoration: none;
  background-color: #3c82f6;
  border: none;
  padding: 0.4rem 5rem;
  border-radius: 0.3rem;
  color: #e4e7eb;
  font-size: 1rem;
  font-weight: bold;
}
body aside div figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body aside div figure img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
body aside div button {
  border: none;
  background-color: #1f2937;
  font-size: 1rem;
  color: red;
}
body aside div button:hover {
  cursor: pointer;
  color: rgb(230, 52, 52);
}
body main {
  grid-area: main;
  padding: 1rem;
}
@media (max-width: 768px) {
  aside #heading,
  aside ul li a,
  aside div figure figcaption,
  aside div button {
    display: none;
  }
}
